* {
  box-sizing: border-box;
}

.current-container-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.current-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: red 5px solid;
  padding: 20px;
  margin: 20px;
}

.main-container {
}
