* {
  box-sizing: border-box;
}

.current-container-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.current-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}

.main-container {
}

.clear-history-btn {
  padding-left: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: black solid 1px;
  padding: 0px;
  margin: 0px;
}
